<h1>NS Angular test</h1>

<ul>
  <li>
    <h4>Components</h4>
    <p>Why and when to use it?</p>
    <p>ng generate component</p>
    <p>Generate component inside a folder: folder/component</p>
    <p>Considerations</p>
  </li>
  <li>
    <h4>Modules</h4>
    <p>Why and when to use it?</p>
    <p>ng generate module</p>
    <p>Generate component inside a module: module/component</p>
    <p>Considerations</p>
  </li>
  <li>
    <h4>Input</h4>
    <p>@Input decorator</p>
    <p>Predefine a value</p>
    <p>Use an input</p>
  </li>
  <li>
    <h4>Output</h4>
    <p>How: @Output outputName = new EventEmmiter()</p>
    <p>Call a function and emmit the output</p>
    <p>Receive output in the parent</p>
  </li>
  <li>
    <h4>Services</h4>
    <p>Why and when to use it?</p>
    <p>ng generate service</p>
    <p>Considerations</p>
  </li>
  <li>
    <h4>The NG-tags</h4>
    <p>ng-content + viewChild decorator (afterViewInit and componentName)</p>
    <p>ng-container + ngIf + ngFor</p>
    <p>ng-template + ngIf "condition" else #template</p>
    <p>[(ngModel)] and inputs (import FormsModule from @angular/forms)</p>
  </li>
  <li>
    <h4>HTTP Client</h4>
    <p>Import HttpClientModule inside a module (import from @angular/common/http).</p>
    <p>Create and add a new service to providers array inside the module.</p>
    <p>Import HttpClient from '@angular/common/http'</p>
    <p>Create a GET function and return an http.get(URL)</p>
    <p>Inject the service and subscribe to it. suscribe((success)=> {{ '{ }' }} , (error)=>{{ '{ }' }},
      (complete)=>{{ '{ }' }})</p>
  </li>
</ul>