<h1>NS Angular test</h1>

<ul>
  <li>
    <h4>Components</h4>
    <p>Why and when to use it?</p>
    <p>ng generate component</p>
    <p>Generate component inside a folder: folder/component</p>
    <p>Considerations</p>
  </li>
  <li>
    <h4>Modules</h4>
    <p>Why and when to use it?</p>
    <p>ng generate module</p>
    <p>Generate component inside a module: module/component</p>
    <p>Considerations</p>
  </li>
  <li>
    <h4>Services</h4>
    <p>Why and when to use it?</p>
    <p>ng generate service</p>
    <p>Considerations</p>
  </li>
</ul>